<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Abhishek Nair">

    <link rel="stylesheet" href="./../static/css/styles.css">

    <title>
      {% block title %}{% endblock %}
    </title>
  </head>

  <body class="main">
    <div class="sidenav">
      <a href="/">Home</a>
      <a href="/recommendations">Recommendations</a>
      <a href="/categories">Categories</a>
    </div>
      {% block content %}
      {% endblock %}
  </body>
</html>