{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
  <div class="box">
    <h1 class="head">
      Yay! We have recommendations for you
    </h1>
    <img class="giphy" src="./../static/images/final.gif">
    <h2 class="head">
      These are the recommendations for you:
    </h2><br>
  </div>
  <div class="box">
    <p class="para">Based on your ratings</p>
    <table style="padding-left: 220px; width: 100%; height: 150px;">
      <tr>
        {%for f,l in films%}
        <td class="list"><a href="{{l}}">{{f}}</a></td>
        {%endfor%}
      </tr>
    </table>
    <p class="para">Movies rated high by similar users</p>
    <table style="padding-left: 220px; width: 100%; height: 150px;">
      <tr>
        {%for m,ml in movies%}
        <td class="list"><a href="{{ml}}">{{m}}</a></td>
        {%endfor%}
      </tr>
    </table>
    <p class="para">Most watched movies</p>
    <table style="padding-left: 220px; width: 100%; height: 150px;">
      <tr>
        {%for w,wl in popular%}
        <td class="list"><a href="{{wl}}">{{w}}</a></td>
        {%endfor%}
      </tr>
    </table>
    <p class="para">Highest average rated movies</p>
    <table style="padding-left: 220px; width: 100%; height: 150px;">
      <tr>
        {%for h,hl in high_rated%}
        <td class="list"><a href="{{hl}}">{{h}}</a></td>
        {%endfor%}
      </tr>
    </table>
  </div>  
{% endblock %}